ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

li {
	text-align: left;
	margin-right: 30px;
}

.ChooseClass {
	display: flex;
	flex-direction: column;
}

.classButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}